/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/assets
/public/fonts
/storage/*.key
/public/*.js
/public/*.js.map
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
